.character {
    color: white;
}

.character__image {
    width: 200px;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.character__name {
    text-align: center;
}

.character__house {
    text-align: center;
}