.app__list {
    margin: 0 auto 20px;
    padding: 0;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 202px);
    grid-gap: 20px;
    justify-content: center;
}

.app__list-character {
    border: 1px solid black;
    background-color: rgba(71, 65, 65, 0.575);
    border-radius: 10px;
}

.app__list-link {
    text-decoration: none;
}