.card {
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px #8e8e8e;
    padding: 20px;

    &-image {
        width: 150px;
        height: 200px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    &-title {
        text-align: center;
        min-width: max-content;
    }

    &-subtitle {
        text-align: center;
    }
}
