.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffc0628a;
    padding: 20px;
    
    &-title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}
