.footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ab3939;

    &-info {
        text-transform: uppercase;
        color: white;
    }
}
