.detail {
    display: flex;
    flex-direction: column;

    &__wrapper {
        background: white;
        display: grid;
        width: 500px;
        height: 350px;
        display: flex;
        border-radius: 10px;
        margin: 0 0 30px 0;
        color: black;
        box-shadow: 0px 0px 5px 0px #8e8e8e;
    }

    &-image {
        width: 250px;
        height: 350px;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
    }

    &-info {
        margin-left: 20px;
    }
}

.go__back {
    color: white;
    font-weight: 550;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 80px;
    width: 200px;
}
