// App
.app {
    margin: 0;
    padding: 0;
    background-image: url('images/hogwarts-castle-fog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.app__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.app__title {
    margin: 0;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase; 
}

.app__filter {
    text-align: center;
}

.app__filter-name {
    outline: none;
}

.app__main {
    display: flex;
    justify-content: center;
}

// Character List
@import 'styles/character-list';

// Character Card
@import 'styles/character-card';

// Detail
@import 'styles/character-detail';

// Footer

@import 'styles/footer';