* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    // font-family: "Satisfy", cursive;
}

a {
    text-decoration: none;
}

// App
.app {
    background: url("./assets/images/hogwarts-castle.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    display: flex;
    justify-content: center;
}
